@import url("fonts/Roboto.css");


body{
    font-family: "Roboto";
    background-color:black;
    color:white;
    text-align:center;
  }

  p, h2, h3{
    font-family: "Roboto";
    padding: 10px;
  }

  h4{
    font-family: "Roboto Thin";
    font-style: italic;
  }

  .header {
  text-align: center;
  background: black;
  color: white;
  font-size: 20px;
  width: 100%;
  }

  .div-red{
    text-align: center;
    background: #ff1111;
    color: white;
    width: 100%;
    
  }

.div-blue {
    text-align: center;
    background: #3f4eff;
    color: white;
    width: 100%;
}

.div-black {
    text-align: center;
    background: black;
    color: white;
    width: 100%;
    height: auto;
    max-height: 620px;
}

.user-input {
    text-align: left;
    background: white;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px;
    background-color: white;
    color: black;
}

.user-input-button {
    text-align: center;
    line-height: 1em;
    padding: 15px;
    background: white;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 25px;    
    color: black;
}

    .user-input:focus {
        border: 2px solid #3f4eff;
    }

.user-input-button:focus {
    border: 2px solid #3f4eff;
}

.img-round {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;

    grid-template-columns: 50% 50%;
    
    
    
}
    .grid-container > div {
        
      
        
    }

.full-row {

   grid-column-start: 1;

   grid-column-end: 3;
}

.left-column{
    grid-column-start: 1;

    grid-column-end: 2;

    
}

.right-column{

    grid-column-start: 2;

    grid-column-end: 3;

}