@import url("fonts/Roboto.css");


body{
    font-family: "Roboto";
    background-color:black;
    color:white;
    text-align:center;
  }

  p, h2, h3{
    font-family: "Roboto Thin";
    padding: 10px;
  }

  h4{
    font-family: "Roboto Thin";
    font-style: italic;
  }

  .header {
  text-align: center;
  background: black;
  color: white;
  font-size: 20px;
  width: 100%;
  }

  .div-red{
    text-align: center;
    background: #ff1111;
    color: white;
    width: 50%;
  }

  .div-blue{
    text-align: center;
    background: #3f4eff;
    color: white;
    width: 50%;
  }

  .div-black{
    text-align: center;
    background: black;
    color: white;
    width: 50%;
  }

.user-input {
    text-align: left;
    background: white;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px;
    background-color: white;
    color: black;
}

.user-input-button {
    text-align: center;
    line-height: 1em;
    padding: 15px;
    background: white;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 25px;    
    color: black;
}

    .user-input:focus {
        border: 2px solid #3f4eff;
    }

.user-input-button:focus {
    border: 2px solid #3f4eff;
}