 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 737px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 36px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 241px;
  height: 194px;
  margin: 48px auto 0;
}

.u-section-1 .u-image-2 {
  width: 247px;
  height: 83px;
  margin: 48px 121px 0 auto;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 109px;
  margin: 48px 108px 0 126px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 737px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 28px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 144px;
  margin: 190px 341px 0 62px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 256px;
  margin: -200px 28px 0 262px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 58px;
    margin-left: 76px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 608px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 291px;
    margin-left: 12px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 0;
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 48px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 9px;
    margin-left: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 193px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1083px;
}

.u-section-2 .u-text-1 {
  width: 805px;
  margin: 144px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 652px;
  margin-top: 114px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 33px;
}

.u-section-2 .u-gallery-item-1 {
  --effect-scale: 0.75;
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 8px;
}

.u-section-2 .u-gallery-item-2 {
  --effect-scale: 0.75;
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 8px;
}

.u-section-2 .u-gallery-item-3 {
  --effect-scale: 0.75;
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 8px;
}

.u-section-2 .u-list-1 {
  margin-top: -340px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-2 .u-gallery-1 {
    height: 538px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -226px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1667px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1236px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-list-1 {
    margin-top: -1288px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 927px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -902px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 584px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -473px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 617px;
}

.u-section-3 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 470px;
  width: 734px;
  margin: 28px auto 48px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: -78px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-3 .u-gallery-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}